.ui-li-thumb, .ui-li-icon {height: 100%; margin: 0 auto;}
.oembed { border: 1px solid #DCDCDC; padding: 10px; margin: 10px; }
.video a { display: block; text-align: center; }
.video .video_wrapper {text-align: center;}